<div>

<h1> Your Representative: </h1>
<h2> Now's Your Chance to Make an Impact </h2>
{{#each congressData}}
  {{#isRep this.title}}
  <h2>{{this.title}} {{this.first_name}} {{this.last_name}}    <a href="mailto:{{this.oc_email}}?subject=Concerns%20from%20a%20Constituent&amp;body=Dear%20Representative%20{{this.last_name}}%3A%20%0A%0AFirst%20of%20all%2C%20thank%20you%20for%20your%20service%20to%20our%20country%20and%20to%20this%20district.%20Your%20representation%20means%20a%20lot%20to%20me%2C%20and%20I%20have%20recently%20come%20across%20a%20problem%20I%20wanted%20to%20bring%20to%20your%20attention.%20%0A%0AAs%20a%20constituent%20who%20cares%20deeply%20about%20the%20issues%20of%20our%20time%2C%20I%20wanted%20totell%20you%20about%20_____________%20(Describe%20the%20Issue%20You%20Care%20About).%20I%20urge%20you%20to%20support%2Foppose%20__________%20because%20______________.%20%0A%0AThank%20you%20for%20your%20consideration%20and%20please%20feel%20free%20to%20contact%20me%20if%20you%20would%20like%20to%20discuss%20this%20issue%20further.%0A%0ASincerely%2C%20%0A%0AYour%20Name%0AYour%20Title%0AYour%20Address%0AYour%20City%2C%20State%2C%20Zip%0AYour%20Phone%20Number">Send mail</a></h2>
  {{/isRep}}
{{/each}}
</div>